html {
    overflow-x: hidden;
}

.sectionToDoList {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    width: 48.625rem;
    min-width: 48.625rem;
    min-height: 33.4375rem;

    background: var(--gray-400);
    border-radius: 5px;
    box-shadow:  2px 2px 15px 4px var(--gray-shadow);
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.header {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    padding: 1.5rem;
}

.tasksMetrics {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    width: fit-content;
}

.tasksMetricsLegend {
    font-size: 1rem;
    font-weight: 700;
    color: var(--blue-dark);
}

.tasksMetricsNumber {
    display: flex;
    align-items: center;
    justify-content: center;

    background: var(--gray-500);
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    color: var(--gray-200);
}

.containerTask {
    margin-top: 4rem;
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
    justify-content: center;
    padding: 1rem;
    z-index: 1;
}

.sectionTask {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 100%;

}

.containerInitialMensagem {
    position: absolute;
    top: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 100%;
}

.InitialMensagemLegend {
    line-height: 1.6;
    font-size: 1.1rem;
    text-align: left;
}

.InitialMensagemLegend p:nth-child(1) {
    color: var(--gray-300);
    font-weight: 700;
}

.InitialMensagemLegend p:nth-child(2) {
    color: var(--gray-300);
}


@media (max-width:768px) {
    html {
        height: 100%;
        overflow-x: hidden;
    }

    :root {
        font-size: 0.875rem;
    }

    .container {
        width: 92%;
        min-width: 12.5rem;
        border-radius: 5px;
        margin-bottom: 1rem;
    }
    
    .header {
        width: 100%;
        padding: 1.5rem;
    }
    
    .tasksMetricsLegend {
        font-size: 1rem;
    }
    
    .tasksMetricsNumber {
        width: 1.5rem;
        height: 1.5rem;
        font-size: 1rem;
    }
    
    .tasksMetrics {
        gap: 0.5rem;
    }
    
    .sectionTask {
        gap: 1rem;
        width: 100%;
    
    }
    
    .sectionTaskLegend {
        font-size: 1rem;
        width: 90%;
        text-align: center;
    }
    
}