* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variables of color the project */
:root {
    --blue-dark: #009FFF;
    --blue-hover: #20c0ff;
    --gray-700: #0D0D0D;
    --gray-600: #1A1A1A;
    --gray-500: #262626;
    --gray-400: #333333;
    --gray-300: #808080;
    --gray-200: #D9D9D9;
    --gray-100: #F2F2F2;
    --danger: #E25858;
}

:focus{
    outline: transparent;
    box-shadow: 0 0 0 2px var(--blue-hover);
}

body {
    background: var(--gray-600);
    color: var(--gray-100);
}

body,
input,
textarea,
button {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}